

img{
  width: 100%;
}

.sc-container{
  width: 60%;
  margin: 0 auto;
}

.star::before{
  content: "";
  display: inline-block;
  background-color: white;
  width: 50px;
  height: 3px;
  color: white;
  margin-right: 10px;
}

.star::after{
  content: "";
  display: inline-block;
  background-color: white;
  width: 50px;
  height: 3px;
  color: white;
  margin-left: 10px;

}

#portfolio .star:before,
#portfolio .star:after,
#form-section .star:before,
#form-section .star:after{
  background-color: black;
}

header{
  height: 90px;
  background-color: #2C3E50;
}

.jumbotron{
  height: 490px;
  background-color: #1ABC9C;
}

.jumbotron img{
  width: 50%;
}

main #about{
  background-color: #1ABC9C;
}

#about a{
  color: white;
}

main #contacts{
  background-color: #3A546D;
}

#contacts h2{
  font-size: .9rem;
}

#contacts ul{
  list-style: none;
}

#contacts .socials a{
  color: white;
  border: 1px solid white;
  border-radius: 50%;
}

#contacts p>a{
  color: #2A8F87;
  text-decoration: none;
}

footer{
  height: 110px;
  background-color: #2C3E50;
}
