body{
  padding-bottom: 300px;
}

img{
  width: 100%;
}

[class^="container"],
.sc-container{
  background-color: rgba(255, 0, 0, .25);
  border: 1px solid black;


  height: 100%;
}

[class^="col"]{
  background-color: rgba(0, 255, 0, .5);
  border: 1px solid red;

  min-height: 80px;
}

.sc-container{
  width: 70%;
  margin: 0 auto;
}

header{
  height: 90px;
  background-color: #2C3E50;
}

.jumbotron{
  height: 590px;
  background-color: #1ABC9C;
  margin-bottom: 600px;
}

.jumbotron img{
  width: 60%;
}

main #about{
  background-color: #1ABC9C;
}

main #contacts{
  background-color: #3A546D;
}

footer{
  height: 110px;
  background-color: #2C3E50;
}
